build
build_installer
dist
dist_installer
node_modules
**/__pycache__
*.pyo
*.pyc
*.pyd
*.egg-info
.DS_Store
joulescope_ui.build
joulescope_ui.dist

joulescope_ui/.gitignore

# Compiled translations
*.mo

# Compiled Dynamic libraries
*.so
*.dylib
*.elf
*.objdump
*.flash
*.map

# Editor swap/backup file garbage
.*.swp
.*.swo
~*.docx
~*.xlsx
*.tmp

.idea
.settings

src/pyqtgraph-0\.11\.0\.dev0/

src/pip-delete-this-directory\.txt
