build
build_installer
dist
**/__pycache__
*.pyo
*.pyc
*.pyd
*.egg-info

joulescope_ui/version.py


# Compiled Dynamic libraries
*.so
*.dylib
*.elf
*.objdump
*.flash
*.map

# Editor swap/backup file garbage
.*.swp
.*.swo
~*.docx
~*.xlsx
*.tmp

.idea
.settings
