[Desktop Entry]
Name=Joulescope UI
Comment=Precision energy analyzer software
Exec=joulescope_ui
Icon=com.jetperch.JoulescopeUI
Terminal=false
Type=Application
Categories=Science;Electronics;
Keywords=energy;analyzer;measurement;electronics;power;current;voltage;
StartupNotify=true
MimeType=application/x-joulescope-jls;