appnope>=0.1.2
check-manifest>=0.37
coverage>=4.5.2
fs
pyjoulescope_driver>=1.2.0  # also update JOULESCOPE_DRIVER_VERSION_MIN in setup.py
markdown
psutil
pyjls>=0.4.2
pyopengl
pyperclip>=1.7.0
pywin32; sys_platform == 'win32'   # python {path_to_python}\scripts\pywin32_postinstall.py -install
pyqtgraph>=0.13.1
PySide6>=6.3.0
PySide6-QtAds>=3.8.3.1
python-dateutil>=2.7.3
PyInstaller>=5.0.1
QtPy
requests>=2.0.0
wheel
