check-manifest>=0.37
coverage>=4.5.2
Cython>=0.29.3
json5>=0.6.1
numpy>=1.15.2
pypiwin32>=223; sys_platform == 'win32'
python-dateutil>=2.7.3
PyInstaller>=3.4
PySide2==5.12.0
pyqtgraph>=0.11.0.dev0
requests>=2.0.0
wheel
