
QLabel#label1 {
    background: {% example.bg1 %};
    color: {% example.fg1 %};
    font: {% example.font1 %};
}

QLabel#label2 {
    background: {% example.bg2 %};
    color: {% example.fg2 %};
    font: {% example.font2 %};
}
